.directory
*/.directory
*~
.idea/
.history/
warped-gan-space/
*.pyc
*.jpg
*.pt
__pycache__/
*/__pycache__/
dev/
figs/inkscape/
models/pretrained/


#experiments/*
#!experiments/latent_codes/
experiments/
experiments/complete/
hessian_penalty_result/
experiments/latent_codes/
